* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 80%;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  background-color: LightBlue;
}

.form div {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: DodgerBlue;
}

.form input, select {
  padding: 5px;
  border: none;
  font-weight: bold;
  color: Darkblue;
  background-color: white;
}

.form-info-container div {
  margin-bottom: 20px;
}

.input-submit {
  height: 40px;
  width: 80px;
  margin-top: 40px;
  border-radius: 20%;
}

.product {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.product-description-container {
  width: 200px;
}

.product-description {
  color: LightSlateGrey ;
}

.product-category {
  width: 100px;
  text-align: center;
  color: DodgerBlue;
  background-color: LightBlue;
  border-radius: 18px;
  padding: 8px;
}

.product-price {
  width: 20px;
}

.product-delete {
  width: 30px;
  border: none;
  background-color: white;
}
.product-delete img {
  width: 100%;
}

.product-counter {
  width: 200px;
  display: flex;
  align-items: baseline;
}

.product-counter button {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25%;
  border: none;
  color: Blue;
  background-color: LightBlue;
}

.article-list {
  width: 80%;
  padding-left: 0;
}

.article-list li {
  list-style: none;
  border-bottom: 1px solid LightGrey;
}

.total-list {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.total-list button{
  margin-bottom: 20px;
  padding: 10px;
  color: DodgerBlue;
  font-weight: bold;
  background-color: LightBlue;
  border: none;
  border-radius: 15px;
}

.total-list span {
  width: 50px;
  color: DodgerBlue;
  font-weight: bold;
  margin-left: 20px;
}
